# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
bin
dist
.tmp
node_modules/*
build
dist-ssr
*.local

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private markdown files
docs/external-resources
review.md
test.sh

# Testing playground
client/src/pages/test.vue

# Misc.
